body{
    font-family: "Playfair", serif;
    background: rgb(0, 0, 0);
    color:rgb(58, 55, 55);
    margin:0px; 
    margin-bottom:100px;
}
.chamada{
    background-color: rgb(243, 16, 16);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
header{
    font-size: 40px;
    color: aqua;
    border-bottom: 3px solid aqua;
    padding: 20px;
}
h1{
    font-size: 35px;
}
.chamada-texto{
    margin-right: 5%;
}